@charset "UTF-8";

@import 'vendor/normalize';

body{
  font-family:Helvetica, Arial, sans-serif;
  font-weight:300;
	-webkit-font-smoothing: antialiased;
}

button.buy-tx-btn{
	display:block;
	margin:0 auto;
	@media (max-width: 768px){
		padding:12.5px 40px;
	}
	@media (max-width: 540px){
		padding:6px 20px;
	}

	border: 3px solid rgba(0,0,0,0.5);
	color: #000;
	&:hover, &:active {
		color: #000;
		background: #fff;
		border-color:#fff;
	}

}

#hero{
	button.buy-tx-btn{
		@media (min-width: 480px){
			display:none;
		}
	}
	
	a{
		text-decoration:none;
	}

	text-align:center;
	position:relative;

	video{
		width:100%;
		height: auto   !important;
	}

	#text-overlay{
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		opacity:0.3;
	}

	.under-text{
		position: absolute;
   	top:80%;
   	margin: 0 auto;
   	width:100%;
		text-align:center;

		p{
			font-weight:700;
			color: #000;
			opacity:0.6;
			font-size:20px;
		}

		.fa.fa-chevron-down{
			opacity:0.3;
			font-size:120px;
			display:none;
			/*@media (max-width: 1075px){
				display:none;
			}*/
		}


	}

	h1{
	  width: 500px;
	  height: 100px;
	  position: fixed;
	  top: 50%;
	  left: 50%;
	  margin: -100px 0 0 -275px;
	  font-size: 3.2em;
	  font-weight: 700;
	  text-align: center;
	  text-transform: uppercase;
	  line-height: 100px;
	  color: #aaa;
	}

	h2{
	  width: 500px;
	  height: 100px;
	  position: fixed;
	  top: 50%;
	  left: 50%;
	  margin: 0 0 0 -225px;
	  font-size: 1.6em;
	  font-weight: 400;
	  text-align: center;
	  line-height: 100%;
	  color: #bbb;
	}

	/* The ribbons */

	.corner-ribbon{
	  width: 270px;
	  background: #e43;
	  position: absolute;
	  top: 25px;
	  left: -50px;
	  text-align: center;
	  line-height: 50px;
	  letter-spacing: 1px;
	  color: #f0f0f0;
	  transform: rotate(-45deg);
	  -webkit-transform: rotate(-45deg);
	}

	/* Custom styles */

	.corner-ribbon.sticky{
	  position: fixed;
	}

	.corner-ribbon.shadow{
	  box-shadow: 0 0 3px rgba(0,0,0,.3);
	}

	/* Different positions */

	.corner-ribbon.top-right{
		-webkit-font-smoothing: auto;
	  top: 50px;
	  right: -60px;
	  left: auto;
	  transform: rotate(45deg);
	  -webkit-transform: rotate(45deg);
	}

}

#copy{

	video{
		width:100%;
		-moz-transform:rotate(180deg);
		-webkit-transform:rotate(180deg);
		-o-transform:rotate(180deg);
		-ms-transform:rotate(180deg);
		transform:rotate(180deg);

		-moz-filter:blur(10px) contrast(4) saturate(4);
		-webkit-filter:blur(10px) contrast(4) saturate(4);
		-o-filter:blur(10px) contrast(4) saturate(4);
		-ms-filter:blur(10px) contrast(4) saturate(4);
		filter:blur(10px) contrast(4) saturate(4);
	}

	margin-top:-5px;

  background-size: 100%;
  /* background: linear-gradient(to bottom, #111 0%, #111 30%, #1f0d1e 60%, #1f0d1e 100%); */
  display: inline-block;
  background-color:black;
  position: relative;
  z-index: 100;

  text-align:center;

  &:before {
		/* background: linear-gradient(to bottom, #111 0%, #111 30%, #0c2223 60%, #0c2223 100%); */
    content: '';    
    display: block;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: opacity 6s;
  }
  
  &:hover {
    &:before {
      opacity: 1;
    }
  }

 	.text-container{
		font-weight:100;
		color: #fff;
		font-size:20px;
 		width: 60%;
 		@media (max-width:640px){
 			width: 90%;
		}	
 		margin:0 auto;
 		padding-top:5%;
 		padding-bottom:5%;
 		.data{
 			display:flex;
 			@media (max-width:640px){
 				flex-direction:column;
 			}
 			.section{
 				flex:1;
 				a{
 					text-decoration:underline;
				}

 				@media (max-width:640px){
 					margin-top:20px;
 				}
 				i{
 					display:block;
 					font-size:40px;
 					margin-bottom:15px;
 				}
 			}
 		}
 		p{
 			text-align:left;
 			a{
				text-decoration:underline;
			}

		}

		a{
			color:white;
			text-decoration:none;
		}

		.buy-tx-btn{
			margin-top:20px;
			border-color:white;
			color:white;

			&:hover{
				color:black;
			}
		}
 	}


}



